@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css);
body {
    background: #191919;
    color: #ffffff;
    
    font-family: 'Fira Code', monospace;
   
    
}
.btn-default {
    background-color: #7465F7;
    color: #ffffff;
}
.btn-blue2 {
    background-color: #9b90ff;
    color: #ffffff;
}
.btn-discord {
    background-color: #7289DA;
    color: #ffffff;
}

html {
    scroll-behavior: smooth;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .bg-kamiblue {
      background-color: #9b90ff;
      color: #ffffff;
  }
  .bg-blue2 {
    background-color: #9b90ff;
    color: #ffffff;
}